*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color:#f4f4f4;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar{
    width: 280px;
    min-height: 100vh;
    background-color: black;
    color:white;
    padding: 30px 20px;

}

.sidebar h2{
    margin-bottom: 50px;
    font-size: 40px;
    
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin: 20px 0;
    cursor: pointer;
    font-size: 22px;
    padding: 12px 15px;
    border-radius: 8px;
    transition: 0.3s;
}
.sidebar ul li:hover {
    background-color: #374151;
}
.main{
    flex: 1;
}

.navbar{
    background-color: white;
    padding: 25px 40px;

    display: flex;
    justify-content: space-betweens;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar button {
    padding: 10px 20px;
    border: none;
    background-color: #111827;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition :0.3s;
}

.navbar button :hover{
    background-color: #374151;
}

.navbar h1{
    font-size: 28px;
}
.cards{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}
.card {
    background-color: white;
    padding: 35px;
    width: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card :hover{
    transform: translate(-5px);
}
.card p{
    font-size: 30px;
    margin-top: 10px;
    font-weight: bold;
}
.card h3{
    color: gray;
}